<form>


<h2><div class=" well">
 Employee Details</div></h2>
 

  <div>
    <br/>
	 <button  type="button" class="btn btn-info btn-lg pull-right"   ng-click="go_to_employee_list_page()">Add Employee </button>
     <button  type="button" class="btn btn-info btn-lg pull-right"  ng-click="employees_list_page()" style="margin-right:10px;">List of Employees</button>
   </div>
<div></div>

 <div class="well">
     <h4>Basic Employee information:</h4>
        <div>
	       <span ><h6/>Location ID:
	         {{employeeData.employee_info.location_id}}
	       </span>
	    </div>
	    <div>
	      <span ><h6/>First Name:
           {{employeeData.employee_info.first_name}}
	      </span>
	    </div>
	    <div>
	      <span ><h6/>Last Name:
            {{employeeData.employee_info.last_name}}
          </span>
	    </div>
        <div>
	       <span ><h6/>Employee ID:
            {{employeeData.employee_info.id}}
           </span>
	   </div>
       <div>
	     <span ><h6/>Suffix:
           {{employeeData.employee_info.suffix}}
         </span>
	   </div>
	   <div>
	     <span ><h6/>Address 1:
            {{employeeData.employee_info.address_line_1}}
         </span>
	  </div>
	  <div>
	    <span ><h6/>Address 2:
          {{employeeData.employee_info.address_line_2}}
        </span>
	  </div>
	  <div>
	     <span ><h6/>City:
	        {{employeeData.employee_info.city}}
	     </span>
	 </div>
	
	<div>
	  <span ><h6/>State:
        {{employeeData.employee_info.state}}
	  </span>
	</div>
	<div>
	  <span ><h6/>Zip:
         {{employeeData.employee_info.zip}}
	  </span>
	</div>
	<div>
	   <span ><h6/>Ssn:
          {{employeeData.employee_info.ssn}}
	   </span>
	<div>
	  <h6/>Have you ever worked before this company?
	  <br><li>
	    {{employeeData.employee_info.rehire}}
	    </li>
	</div>
</div>

</div>
<div class="well">
	<h4>Questionnaire:</h4>
	<div>
	 <p> 1.Have you or has anyone living with you received Temporary Assistance to needy Families(TANF)at any time since August5,1997?</p>
	 {{employeeData.questionnaire.afdc}}

	   
	  
	  <div    ng-if="employeeData.questionnaire.afdc == 'true'">
           
           	<li>
         		<p>-> Recipient Name:
         		{{employeeData.afdc_recipient_info.name}}</p>
         		<p>-> city:
         		{{employeeData.afdc_recipient_info.city_received}}</p>
         		<p>-> State:
         		{{employeeData.afdc_recipient_info.state_received}}</p>
         		<p>-> County: 
         		{{employeeData.afdc_recipient_info.county_received}}</p>
         	</li>
       
        
         </div>

	<p> 2.Have you or has anyone living with you received food Stamps (SNAP)at any time during the past 15 months?</p>
	 <div>
	 
	 	{{employeeData.questionnaire.food_stamps}}
	 	<div    ng-if="employeeData.questionnaire.food_stamps == 'true'">
           
           	<li>
         		<p> Recipient Name:
         		{{employeeData.foodstamps_recipient_info.name}}</p>
         		<p> city:
         		{{employeeData.foodstamps_recipient_info.city_received}}</p>
         		<p> State:
         		{{employeeData.foodstamps_recipient_info.state_received}}</p>
         		<p>County: 
         		{{employeeData.foodstamps_recipient_info.county_received}}</p>
         	</li>
       
        
         </div>
	 


	 </div>


	 3.Have you received Supplement Security Income(SSI)at any time within the past 3 months?
	  <div>
	 <li>
	 	{{employeeData.questionnaire.ssi}}
	 	</li>
	 </div>
	 <p>
	 4.Have you received any type of vocational rehabitation services within  the past two year?</p>
	  <div>
	 <li>{{employeeData.questionnaire.voc_rehab}}</li>
	 <div    ng-if="employeeData.questionnaire.voc_rehab == 'true'">
	  <p>Received vocational rehabitation services from a vocational rehabitation  agency</p>
	  {{employeeData.voc_rehab_info.is_agency}}
	<p> Received vocational rehabitation services from departments of veterans affairs</p>
	{{employeeData.voc_rehab_info.dept_va}}
	 <p>Received vocational rehabitation services from an Employement Network (Ticket to work program)</p>
	 	{{employeeData.voc_rehab_info.ttw}}

	 	<p>Zip:</p>
	 	{{employeeData.voc_rehab_info.zip}}
	 	<p>City:</p>
	 	{{employeeData.voc_rehab_info.city}}
	 	<p>State:</p>
	 	{{employeeData.voc_rehab_info.state}}
	 	<p>County:</p>
	 	{{employeeData.voc_rehab_info.county}}
	 </div>
	 </div>

	 5.Have you been unemployed at any time during the last 12 months?
	  <div>
	 
	 	{{employeeData.questionnaire.unemployed}}
	 	<div    ng-if="employeeData.questionnaire.unemployed == 'true'">
	 		 <p>Unemployment Detail:</p>
	 		 <p>Unemployeed From:</p>
             {{employeeData.unemployment_info.unemployment_start_date}}
	 		 </p>
	 		 <p>Unemployeed To :{{employeeData.unemployment_info.unemployment_end_date}} </p>
	 	</div>
	 	
	 </div>
	 6.Convicted of felony or released from prison in last 12 months?
	  <div>
	 
	 	{{employeeData.questionnaire.felon}}
	 	<div    ng-if="employeeData.questionnaire.felon == 'true'">
	 	<p>Conviction Date:{{employeeData.felon_info.conviction_date}} </p>
	 	<p>Date of Release: {{employeeData.felon_info.release_date}}</p>
	 	<p>Is this a Federal Conviction: {{employeeData.felon_info.is_federal_conviction}}</p>
        <p>Is this a state Conviction:{{employeeData.felon_info.is_state_conviction}}</p>
        <p>Parole officer Name: {{employeeData.felon_info.parole_officer_name}} </p>
       <p>parole officer Phone Number:{{employeeData.felon_info.parole_officer_phone}}  </p>	
       <p>State:{{employeeData.felon_info.felony_state}}  </p>
       <p>County: {{employeeData.felon_info.felony_county}} </p>


	 </div>
     7.Are you or your spouse a member of a Native American Tribe?
      <div>
	     <li>
	 	   {{employeeData.questionnaire.cdib}}
	 	  </li>
	 	</div>
</div>
</div>

<div class="well">
<h4>Job Information</h4>
<div>
Occupation ID:
{{employeeData.hiring_manager_info.occupation_id}}
	</div>
	
	<p/><div>
		Starting Hourly Wage:
		${{employeeData.hiring_manager_info.starting_wage}}
	</div>
	<p><div>
		Date Gave Information:
		{{employeeData.hiring_manager_info.dgi}}
	</div>
	<p><div>
		Date of Job Offer:
		{{employeeData.hiring_manager_info.dojo}}
	</div>
	<p><div>
		Date of Hire:
		{{employeeData.hiring_manager_info.doh}}
	</div>
	<p><div>
		Date Started Work:
		{{employeeData.hiring_manager_info.dsw}}
	</div>
</div>

 
  






       