<form>


<h2><div class=" well">
 Employee Details</div></h2>
 

  <div>
    <br/>
	 <button  type="button" class="btn btn-info btn-lg pull-right"   ng-click="go_to_employee_list_page()">Add Employee </button>
     <button  type="button" class="btn btn-info btn-lg pull-right"  ng-click="employees_list_page()" style="margin-right:10px;">List of Employees</button>
   </div>

 <div class="well">
     <h4>Basic Employee information:</h4>
        <div>
	       <span ><h6/>Location ID:
	         {{employeeData.employee_info.location_id}}
	       </span>
	    </div>
	    <div>
	      <span ><h6/>First Name:
           {{employeeData.employee_info.first_name}}
	      </span>
	    </div>
	    <div>
	      <span ><h6/>Last Name:
            {{employeeData.employee_info.last_name}}
          </span>
	    </div>
        <div>
	       <span ><h6/>Employee ID:
            {{employeeData.employee_info.id}}
           </span>
	   </div>
       <div>
	     <span ><h6/>Suffix:
           {{employeeData.employee_info.suffix}}
         </span>
	   </div>
	   <div>
	     <span ><h6/>Address 1:
            {{employeeData.employee_info.address_line_1}}
         </span>
	  </div>
	  <div>
	    <span ><h6/>Address 2:
          {{employeeData.employee_info.address_line_2}}
        </span>
	  </div>
	  <div>
	     <span ><h6/>City:
	        {{employeeData.employee_info.city}}
	     </span>
	 </div>
	
	<div>
	  <span ><h6/>State:
        {{employeeData.employee_info.state}}
	  </span>
	</div>
	<div>
	  <span ><h6/>Zip:
         {{employeeData.employee_info.zip}}
	  </span>
	</div>
	<div>
	   <span ><h6/>Ssn:
          {{employeeData.employee_info.ssn}}
	   </span>
	<div>
	  <h6/>Have you ever worked before this company?
	  <br><li>
	    {{employeeData.employee_info.rehire}}
	    </li>
	</div>
</div>

</div>
<div class="well">
	<h4>Questionnaire:</h4>
	<div>
	<span >
	 <h5/> 1.Have you or has anyone living with you received Temporary Assistance to needy Families(TANF)at any time since August5,1997?
	   <div>
	   <li>
         {{employeeData.questionnaire.afdc}}
         </li>
        
        
         </div>

	 2.Have you or has anyone living with you received food Stamps (SNAP)at any time during the past 15 months?
	 <div>
	 <li>
	 	{{employeeData.questionnaire.food_stamps}}
	 	</li>
	 </div>


	 3.Have you received Supplement Security Income(SSI)at any time within the past 3 months?
	  <div>
	 <li>
	 	{{employeeData.questionnaire.ssi}}
	 	</li>
	 </div>
	 4.Have you received any type of vocational rehabitation services within  the past two year?
	  <div>
	 <li>
	 	{{employeeData.questionnaire.voc_rehab}}
	 	</li>
	 </div>

	 5.Have you been unemployed at any time during the last 12 months?
	  <div>
	 <li>
	 	{{employeeData.questionnaire.unemployed}}
	 	</li>
	 </div>
	 6.Convicted of felony or released from prison in last 12 months?
	  <div>
	 <li>
	 	{{employeeData.questionnaire.felon}}
	 	</li>

	 </div>
     7.Are you or your spouse a member of a Native American Tribe?
      <div>
	     <li>
	 	   {{employeeData.questionnaire.cdib}}
	 	  </li>
	 	</div>
</div>
</div>

<div class="well">
<h4>Job Information</h4>
<div>
Occupation ID:
{{employeeData.hiring_manager_info.occupation_id}}
	</div>
	
	<p/><div>
		Starting Hourly Wage:
		${{employeeData.hiring_manager_info.starting_wage}}
	</div>
	<p><div>
		Date Gave Information:
		{{employeeData.hiring_manager_info.dgi}}
	</div>
	<p><div>
		Date of Job Offer:
		{{employeeData.hiring_manager_info.dojo}}
	</div>
	<p><div>
		Date of Hire:
		{{employeeData.hiring_manager_info.doh}}
	</div>
	<p><div>
		Date Started Work:
		{{employeeData.hiring_manager_info.dsw}}
	</div>
</div>

 
  






       