
<div class="container">
	<hr>
	<button  type="button" class="btn btn-info btn-lg pull-right"  ng-click="go_to_new_emp()">New Employee</button>

	<h2>List of Employees</h2>
	<span class="clerfix"></span>
	<hr>
   <table id="DisplayTable"  class="table table-striped">
	    <tr>
		    <th>Firstname</th>
			<th>Lastname</th>
			<th>Suffix</th>
	        <th>options</th>

		</tr>
		<tr ng-repeat="emp in employeeList">
		   <td>{{emp.first_name[$index]}}</td>  
		    <td>{{$index}}</td>  
			<td>{{$index}}</td>  
			<td>{{$index}}</td> 

			<td><a ui-sref="employee_edit({id: $index})">Details</a></td> 	
		</tr>	
	</table>{{employeeList}}
	
	
</div>