
<div class="container">
	<hr>
	<button  type="button" class="btn btn-info btn-lg pull-right"  ng-click="go_to_new_emp()">New Employee</button>

	<h2>List of Employees</h2>
	<span class="clerfix"></span>
	<hr>
   <table class="table table-striped">
	    <tr>
		    <th>Firstname</th>
			<th>Lastname</th>
			<th>Suffix</th>
	        <th>options</th>

		</tr>
		<tr ng-repeat="emp in employee">
		    <td>{{emp.first_name}}</td>  
			<td>{{emp.last_name }}</td>  
			<td>{{emp.suffix }}</td> 

			<td><a ui-sref="employee_edit({id: $index})">Details</a></td> 	
		</tr>	
	</table>{{employee}}
	
	
</div>