<form>
<h2><div class=" well">
Employee Registrtion</div></h2>
<div class="well">
<td>
<tr><label for="Company"> Company: </label>
<input type="text"  ng-model="user.Company"   required/><tr/>
<tr><label for="Location"> Location: </label>
<input type="text" name="" id="" ng-model="Location"   required/><tr/>

<br>
<tr><br/><p/><label for="FirstName"> FirstName: </label>
<input type="text"  id= "userFirstName" name= "userFirstName"  ng-model="user.FirstName"   required /></tr>
<tr>LastName: 
<input type="text" id= "userLastName" "  ng-model="user.LastName"   required /></tr>
<label for="Suffix"> Suffix: </label> 
<input type="text" id= "userLastName"   ng-model="user.suffix"   required /></p>

<br>
<tr><label for="Address"> Address: </label>
<input type="text" >
<tr><label for="Address"> Address: </label>
<input type="text" >
</br>

<br>
<tr><label for="zipcode">   Zip: </label>
<input type="search" id="zipcode"  ng-model="user.zipcode"   required/>
<tr><label for="city"> city: </label>
<input type="text" id="city"  ng-model="user.city"   required/>
<tr><label for="state"> State: </label>
<input type="state" id="state"  ng-model="list_of_states"   required/>

<br>
<tr><p/><label for="ssn"> SSN: </label><input type="text" >
<tr><label for="date of birth"> DOB: </label>
<input type="date" id="dob" ng-model="user.dob" /> 
</td>
</div>



<div class="well"> 
<ol type="1">
<div  class ="well" id={{question.Question}} ng-repeat=" (index,question) in questions" value={{question}} name="question">
<strong class="question">{{question.Question1}}</strong>

 <ol type="1">
 <li ng-repeat=" option in question.options"> 
 <input type="radio" ng-check="questions[index].selected"  id="{{option}}" ng-click= "questions[index].selected = (option=='Yes' ? true : false) "/>{{option}} </li>
  <span ng-show="questions[index].selected">{{question.option}}

<p/><br/><td/><tr/>Recipient Name:<input type="text" name="">
<p/><br/><td/><tr/>Zip:
<input type="text" id="zipcode"  ng-model="user.zipcode"   required/>
<p/><br/><td/><tr/>City:
<input type="text" id="city"  ng-model="user.city"   required/>
<p/><br/><td/><tr/>State:
<input type="state" id="state"  ng-model="user.state"   required/ 



<strong class="question">{{question.Question2}}</strong>
 


</div> </span>
       </ol>
      </div>
    </ol>
    






</div>
<div layout="row" class="custom-ques-field">
<div><br/><p/><div class="col-md-4 center-block"></div>  
<button class="btn btn-info btn-lg pull-center"  type="submit" ng-click="submitNewEmployee()">Submit</button>
</div>
</form>






   


