<div class="well"> 
<ol type="1">
<div  class ="well" id="questions"    ng-repeat=" (index,question) in questions"  value={{question}} name="question">
<!-- <input ng-model="Question1" ng-options="" style="width:350px;"></input> -->

<strong class="question" ng-model="Question1">{{question.Question1}}</strong>



 <ol type="1">
 <li ng-repeat=" option in question.options"> 
 <input type="radio" ng-check="questions[index].selected"  id="{{option}}" ng-click= "questions[index].selected = (option=='Yes' ? true : false) "/>{{option}} </li>
  <span ng-show="questions[index].selected">{{question.option}}

<p/><br/><td/><tr/>Recipient Name:<input type="text" name="">
<p/><br/><td/><tr/>Zip:
<input type="text" id="zipcode"  ng-model="user.zipcode"   required/>
<p/><br/><td/><tr/>City:
<input type="text" id="city"  ng-model="user.city"   required/>
<p/><br/><td/><tr/>State:
<input type="state" id="state"  ng-model="user.state"   required/ >



<!-- <strong class="question">{{question.Question2}}></strong> -->
 


</div> </span>
       </ol>
      </div>
    </ol>